.idea
docker/
data/mssql/
data/neo4j/
data/mongo/
public/photos/
vendor/
tests/
config/nginx/
config/php-fpm/
config/autoload/development.local.php
composer.lock
docker-compose.yml
docker-compose-conflict.yml
docker-compose-full.yml
docker-compose-mssql.yml
docker-compose-php.yml
supervisord.log
supervisord.pid
