version: '3.7'
services:
  proxy:
    image: nginx:latest
    container_name: proxy
    volumes:
      - ./config/proxy:/etc/nginx/conf.d
      - ./config/certs:/etc/ssl
    ports:
      - 80:80
      - 443:443
    restart: always
    depends_on:
      - graphql
      - frontend
    links:
      - frontend:cinema.lcl
      - graphql:api.cinema.lcl
  frontend:
    image: nginx:latest
    container_name: frontend
    volumes:
      - ../cinema-frontend/dist/cinema-frontend:/usr/share/nginx/html
      - ../cinema-frontend/config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../cinema-frontend/config/nginx/conf.d/web.conf:/etc/nginx/conf.d/web.conf
      - ./config/certs:/etc/ssl
    restart: always
  graphql:
    build: .
    container_name: graphql
    volumes:
      - ~/.composer/auth.json:/root/.composer/auth.json
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/conf.d/api.conf:/etc/nginx/conf.d/api.conf
      - ./config/nginx/cert:/etc/ssl
      - ./config/php-fpm/php-fpm.d/www.conf:/etc/php-fpm.d/www.conf
      - ./config/php-fpm/php.d/10-opcache.ini:/etc/php.d/10-opcache.ini
      - ./config/php-fpm/php.ini:/etc/php.ini
      - ./config/php-fpm/php-fpm.conf:/etc/php-fpm.conf
      - ./vendor/mezzio/mezzio-router/src/RouteCollectorFactory.php:/usr/share/nginx/html/api/vendor/mezzio/mezzio-router/src/RouteCollectorFactory.php
      # - .:/usr/share/nginx/html/api
      # - ./config/php-fpm/php.d/15-xdebug.ini:/etc/php.d/15-xdebug.ini
      # - ./config/autoload/development.local.php:/usr/share/nginx/html/api/config/autoload/development.local.php
      # - ./config/development.config.php:/usr/share/nginx/html/api/config/development.config.php
      - photos:/usr/share/nginx/html/api/public/photos
    restart: always
    depends_on:
      - mssql
      - memcached
  mssql:
    image: reynier3mil/centos-mssql-full:latest
    container_name: mssql
    volumes:
      - ./data/mssql/backups:/var/opt/mssql/data/backups
    ports:
      - 1433:1433
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=ms3CjP{R?1^A
      - MSSQL_PID=Developer
      - MSSQL_AGENT_ENABLED=true
  memcached:
    image: memcached:latest
    container_name: memcached
    ports:
      - 11211:11211
    restart: always
volumes:
  photos:
    external: true
