version: '3'
services:
    web:
        image: nginx:latest
        container_name: "web"
        ports:
            - 80:80
            - 443:443
        volumes:
            - .:/usr/share/nginx/html/api
            - ./logs/nginx:/var/log/nginx
            - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./config/nginx/conf.d/api.conf:/etc/nginx/conf.d/api.conf
        links:
            - php
    php:
        image: reynier3mil/centos-php-fpm-msphpsql:graph
        container_name: "php"
        volumes:
            - .:/usr/share/nginx/html/api
            - ./logs/php-fpm:/var/log/php-fpm
            - ./config/php-fpm/php.ini:/etc/php.ini
            - ./config/php-fpm/php-fpm.conf:/etc/php-fpm.conf
            - ./config/php-fpm/www.conf:/etc/php-fpm.d/www.conf
            - ./config/php-fpm/16-xdebug.ini:/etc/php.d/15-xdebug.ini
        working_dir: /usr/share/nginx
        ports:
            - 9050:9050
        links:
            - mssql
            - memcached
            - neo4j
    mssql:
        image: reynier3mil/centos-mssql-full
        container_name: "mssql"
        volumes:
            - ./data/mssql:/var/opt/mssql
        environment:
            - ACCEPT_EULA=Y
            - SA_PASSWORD=ms3CjP{R?1^A
            - MSSQL_PID=Developer
        ports:
            - 1433:1433
    memcached:
        image: memcached:latest
        container_name: "memcached"
        ports:
            - 11211:11211
    neo4j:
        image: neo4j:latest
        container_name: "neo4j"
        ports:
            - 7474:7474
            - 7687:7687
        volumes:
            - ./data/neo4j/data:/data