<?php
/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

return [
    'mezzio' => [
        // Provide templates for the error handling middleware to use when
        // generating responses.
        'error_handler' => [
            'template_404'   => 'error::404',
            'template_error' => 'error::error',
        ],
    ],
    'oauth' => [
        'grant_type' => '',
        'client_id' => '',
        'client_secret' => '',
        'scope' => ''
    ],
    'files' => [
         'project_path' => '',
         'public_path' => '',
         'original' => '/original',
         'thumbnail' => '/thumbnail',
         'people' => '/people',
         'seasons' => '/seasons',
         'tapes' => '/tapes',
         'thumbnail_height' => 160,
         'thumbnail_width' => 110
    ]
];
